<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercadolibre.android.andesui.demoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/andesui_demoapp_ic_launcher"
        android:label="@string/andesui_demoapp_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.BadgeShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/badge"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.SnackbarShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/snackbar"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.CheckboxShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/checkbox"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.TagShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/tag"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.ButtonShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/button"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.ProgressShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/progress"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.MessageShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/message"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.TextfieldShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/textfield"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.ThumbnailShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/thumbnail"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.WhatsNewActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/whats-new"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.RadioButtonShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/radiobutton"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.CardShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/card"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
    </application>

</manifest>